################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RGICAPI/.vs/RGICAPI/FileContentIndex
/RGICAPI/.vs/RGICAPI/v17
